body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f4f4f9;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 550px;
    margin: 0 auto;
    padding: 24px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);
}
label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}
input,
textarea,
button {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
button {
    cursor: pointer;
}
button[type="submit"] {
    background-color: #4caf50;
    color: white;
    font-weight: bold;
    border: none;
}
button[type="reset"] {
    background-color: #f44336;
    color: white;
    font-weight: bold;
    border: none;
}
button:hover {
    opacity: 0.9;
}

meter {
    width: 100%;
    height: 20px;
    margin-bottom: 1rem;
    /* Desactiva el estilo predeterminado del navegador */
    /*-webkit-appearance: none;*/
    /*-moz-appearance: none;*/
    background: #e0e0e0; /*Fondo de la barra */
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
}

/* Fondo de la barra para navegadores basados en Webkit (como Chrome y Edge) */
meter::-webkit-meter-bar {
    background: #e0e0e0;
    border-radius: 10px;
}

/* Parte rellena del progreso en navegadores basados en Webkit */
meter::-webkit-meter-value {
    background: blue; /* Cambia el color aquí */
    border-radius: 10px 0 0 10px;
}

/* Fondo y progreso para Firefox */
meter::-moz-meter-bar {
    background: blue; /* Cambia el color aquí */
    border-radius: 10px 0 0 10px;
}

meter::-moz-meter-optimum {
    background: blue; /* Firefox aplica esto en valores óptimos */
}
