body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f4f4f9;
}

/*estilos del formulario*/

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 550px;
    margin: 0 auto;
    padding: 1rem;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);
}

/* Estilos para los elementos del formulario */

label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

/* Estilos para los campos de entrada y el botón */

input,
textarea,
button {
    width: 100%;
    padding: 10px;
    margin-bottom: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Estilos específicos para el botón */

button {
    cursor: pointer;
}

/* Diferentes colores para los botones de enviar y borrar */

button[type="submit"] {
    background-color: #4caf50;
    color: white;
    font-weight: bold;
    border: none;
}

/* Estilo para el botón de reset */

button[type="reset"] {
    background-color: #f44336;
    color: white;
    font-weight: bold;
    border: none;
}

/* Efecto hover para los botones */

button:hover {
    opacity: 0.9;
}